.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.mt5 {
  margin-top: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.pt5 {
  padding-top: 5px;
}

.pr5 {
  padding-right: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.pl5 {
  padding-left: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pr10 {
  padding-right: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.pl10 {
  padding-left: 10px;
}

.noBullets {
  list-style: none;
}

button:hover,
button:focus {
  transform: translateY(0) scaleX(1.05);
}
button:active {
  transform: translateY(0) scale(0.9);
}

.preloader--accent {
  background: url("/assets/images/gifs/preloader-whiteBG.gif");
  background-color: var(--accentColor);
}

.preloader--white {
  background: url("/assets/images/gifs/preloader-blueBG.gif");
  background-color: #f4f4f4;
}

.preloader {
  color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-size: cover;
  cursor: not-allowed;
}

#fade {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
}

.visible {
  visibility: visible !important;
}

#flashMessageContainer {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  pointer-events: none;

  #flashMessage {
    position: relative;
    padding: 1.25em 1.5em;
    text-align: center;
    margin: 15vh auto;
    width: max-content;
    font-family: "roboto", var(--bodyFont);
    border-radius: 0.5rem;
  }

  .flashMessage--active {
    min-width: 200px;
    box-shadow: -3px -8px 12px -6px rgba(0, 0, 0, 0.3);
    &::before {
      content: "I have a message that";
      position: absolute;
      top: -25%;
      left: 0;
      padding: 0.25em 0.5em;
      background-color: #333;
      color: #f4f4f4;
      font-size: 0.9rem;
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }

  .flashMessage--error {
    background-color: #e31f1f;
    color: #f4f4f4;
    animation: error 0.5s ease-in-out forwards;
  }

  .flashMessage--warning {
    background-color: #e3cd18;
    color: #333;
    animation: warning 0.5s ease-in-out forwards;
  }

  .flashMessage--success {
    background-color: #0c991c;
    color: #f4f4f4;
    animation: success 0.5s ease-in-out;
  }
}

@keyframes error {
  0% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes warning {
  0% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes success {
  25% {
    background-color: lighten($color: #0c991c, $amount: 50);
  }
}

// notes
