.editorContent__output {
  p,
  input,
  button,
  th,
  td,
  dt,
  dd {
    font-family: "open sans", var(--bodyFont);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Montserrat", var(--headingFont);
  }

  table {
    width: 100%;
    margin: 1rem 0;
  }

  /*the default style looks too vibrant*/
  mark {
    background: none;
    position: relative;
    padding: 2px 5px;
    display: inline-block;
  }

  mark::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-image: linear-gradient(
      45deg,
      rgba(238, 238, 48, 0.6),
      rgba(255, 208, 0, 0.8)
    );
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  mark:hover::after {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
  }

  /*<mark> style ends here*/
  /*creating the "breathing-space" between list-items*/
  ul,
  ol {
    margin: 1rem;
  }

  ul > li,
  ol > li {
    list-style-position: inside;
    margin-bottom: 0.5rem;
  }

  ul ol,
  ol ul {
    margin: 0 0 0 1rem;
  }

  ul > li:last-child,
  ol > li:last-child {
    margin-bottom: 0;
  }

  dl dt {
    font-size: 1.1rem;
    // font-family: inherit;
    margin: 1rem 0 0.3rem 0;
    color: var(--accentColor);
  }

  dl dd {
    margin-left: 10px;
  }

  br {
    margin-bottom: 0.5rem;
  }

  .underline {
    text-decoration: underline;
  }

  .difficultWord {
    text-decoration: underline !important;
    cursor: pointer;
    position: relative;
  }

  .difficultWord::after {
    content: attr(data-meaning);
    z-index: 2;
    display: block;
    visibility: hidden;
    width: max-content;
    height: max-content;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -2rem;
    transform: scaleY(0) translateX(-50%);
    transform-origin: top;
    background: #333;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
  }
  .difficultWord:hover::after {
    visibility: visible;
    animation: appearFromTop 0.2s ease-in-out forwards;
  }

  @-webkit-keyframes appearFromTop {
    100% {
      -webkit-transform: scaleY(1) translateX(-50%);
      transform: scaleY(1) translateX(-50%);
    }
  }

  @keyframes appearFromTop {
    100% {
      -webkit-transform: scaleY(1) translateX(-50%);
      transform: scaleY(1) translateX(-50%);
    }
  }

  .difficult_words:hover .meaning {
    display: block;
  }

  h3,
  h4 {
    margin: 0;
    margin-bottom: 0.8rem !important;
  }

  .subTopicWrap {
    margin-bottom: 1.3rem;
  }

  .subTopic {
    margin: 3.5rem 0 2.5rem 0;
    &:first-child {
      margin-top: 0 !important;
    }
  }

  .hideListStyle {
    list-style: none;
  }

  .blockquoteCustomStyle {
    position: relative;
    margin-left: 1.2rem;
    margin-top: 3rem;
    font-family: montserrat, var(--bodyFont);
    font-size: 1.2rem;

    &::before {
      content: '"';
      position: absolute;
      left: -1.2rem;
      top: -1rem;
      font-size: 2rem;
    }

    &::after {
      content: attr(data-caption);
      position: absolute;
      bottom: -1.2rem;
      right: 0;
      font-size: 1rem;
    }
  }
}
