#submitNoteFormWrapper {
  visibility: hidden;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 60vw;
  transform: translate(-50%, -50%);
  background-color: #f4f4f4;
  border-radius: 0.5rem;
  color: #333;
  padding: 1em 1.5em;

  form {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
  }
}

.formWrapper--active {
  visibility: visible !important;
}
